importFrom("methods","is")
importFrom("stats","family","integrate","model.response","terms","update")
importFrom("stats","glm","logLik","rbinom","rgamma","rnorm","rpois","weights")
importFrom("stats","integrate","make.link","dbinom","dnorm","dgamma","dnbinom")
importFrom("stats","deviance","dpois","formula","model.matrix","nobs","resid")
importFrom("stats","sigma","as.formula","binomial","df.residual")
importFrom("stats","arima.sim","rmultinom","rnbinom")
importFrom("MASS","negative.binomial","mvrnorm")
importFrom("lme4","lmer","glmer","glmer.nb","nlmer","getME","fixef","getData")
importFrom("nlme","lme","nlme","getVarCov","getResponse","fixef")
importFrom("Deriv","Deriv")
importFrom("Matrix","t","diag")
exportPattern("^[[:alpha:]]+")
